<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Vous avez atteint la fin d'Internet</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Vehicule" asp-action="Index">Page d'accueil</a>
    </div>
</div>